<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prepexamenmoviles">
    <!-- Permiso para la alarma -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrepExamenMoviles">
        <activity
            android:name=".ListViewPersonalizadoActivity"
            android:exported="true" />
        <activity
            android:name=".ListViewActivity"
            android:exported="true" />
        <activity
            android:name=".PruebaMenu"
            android:exported="true" />
        <activity
            android:name=".PruebaLayouts"
            android:exported="true" />
        <activity
            android:name=".GestionAlarma"
            android:exported="true">

            <!-- Añadimos esto para que lo reconozca como gestor de alarmas -->
            <intent-filter>
                <action android:name="android.intent.action.SET_ALARM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitySecundario"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>